<!DOCTYPE html>
<html>
<head>
  <title>Practica4CookieYSesion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="conteiner">
        <header>
            <h1>Practica 4 Cookies y Session</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <%= link_to "Cookies",{:controller => "test_cookies", :action => "identify", :method => "get"} %>
                </li>
                <li>
                    <%= link_to "Cookies y Sesion", {:controller => "test_sesion", :action => "start", :method => "get"} %> 
                </li>
            </ul>
        </nav>
        <div id="yield">
            <%= yield %>        
        </div>
    </div>
</body>
</html>
