<!DOCTYPE html>
<html>
<head>
  <title>Practica1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="conteiner">
	<header> 
		<h1>Redes sociales</h1>
	</header>
	<nav>
		<ul>
			<li class="google_plus">
				<%= link_to "Goolge +", :controller => "redes_sociales", :action => "googleplus" %>
			</li>
			<li class="facebook">
				<%= link_to "Facebook", :controller => "redes_sociales", :action => "facebook" %>
			</li>
			<li class="twitter">
				<%= link_to "Twitter", :controller => "redes_sociales", :action => "twitter" %>
			</li>
		</ul>
		<div class="clear"> 
		</div>
	</nav>
	<section>
		<%= yield %>
	</section>
</div>
</body>
</html>
